body {
  background: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  line-height: 24px;
  font-size: 1rem;
}
.hero {
  text-align: center;
  padding: 30px 0;
  background: #222;
}
.hero img {
  max-width: 500px;
  width: 100%;
}
.navbar {
  height: 60px;
  background: #111;
  position: sticky;
  top: 0;
}
.navbar__menu {
  position: relative;
  margin: 0;
}
.navbar__item {
  margin: 0;
}
.navbar__menu--list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.navbar__menu a {
  display: block;
  line-height: 60px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}

.navbar__menu a:hover {
  background: #333;
}

.navbar__btn {
  display: none;
}

.content {
  margin: 0 auto;
  width: 75%;
  max-width: 728px;
  padding-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .navbar__btn {
    display: inline-block;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 17.5px;
  }

  .navbar__menu--list {
    display: none;
  }

  .navbar__menu--list-open {
    display: flex;
  }
}
